@model Persons

@{
    ViewData["Title"] = "Login";
}
<style>
    .login-wrapper {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        backdrop-filter: blur(10px);
    }

    .login-form-container {
        width: 1000px;
        height: 600px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: row;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        overflow: hidden;
    }

    .image-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        background-color: #f9f9f9;
    }

    .login-form-container img {
        max-width: 100%;
        max-height: 100%;
    }

    .form-container {
        width: 50%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-control {
        margin-bottom: 2vh;
    }

    h4 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    input {
        border-radius: 5px;
        border: none;
        padding: 10px;
        font-size: 16px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    button[type="submit"] {
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

        button[type="submit"]:hover {
            background-color: #218838;
        }

    a.btn {
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        vertical-align: bottom;
    }

        a.btn:hover {
            opacity: 0.8;
        }

    .alert {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-size: 14px;
    }

        .alert b {
            font-weight: bold;
        }

</style>
<div class="login-wrapper">
    <div class="login-form-container">
        <div class="image-container">
            <img src="\images\background_homepage\cats.jpg" alt="Login Image">
        </div>
        <div class="form-container">
            <h4>Log in to your account</h4>
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"]</span>
                </div>
            }
            @using (Html.BeginForm("Login", "Persons", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Person_Username, "Username", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Person_Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Person_Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Person_Password, "Password", new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Person_Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Person_Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input class="btn btn-outline-success float-right" type="submit" value="Login" />
                    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                </div>
            }
        </div>
    </div>
</div>